body {
    background-color: #000000; /* Fundo preto */
    color: #ffffff; /* Texto branco */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ajuste para garantir que a altura mínima seja a do viewport */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
}

header {
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
    width: 100%; /* Garantir que o main ocupe 100% da largura disponível */
    max-width: 800px; /* Limitar a largura máxima para melhor legibilidade */
    box-sizing: border-box; /* Incluir padding na largura total */
    text-align: center; /* Centralizar o texto */
    flex: 1; /* Faz com que o main ocupe todo o espaço disponível */
}

section {
    margin-bottom: 40px;
}

.projeto img, .perfil {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.perfil {
    width: 150px;
    border-radius: 50%;
}

ul {
    list-style: none; /* Remove os pontos das listas */
    padding: 0;
    margin: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%;
    position: static; /* Posição estática para seguir o fluxo do documento */
    margin-top: 20px; /* Adicionando margem superior para empurrar o footer para o final da página */
}
